<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block direct access to protected project directories.
    RewriteRule ^content/(.*) index.php [L]
    RewriteRule ^site/(.*) index.php [L]
    RewriteRule ^kirby/(.*) index.php [L]

    # Front controller.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Disable directory listings.
Options -Indexes
